
body {
  margin: 0;
  background: #c8c8c8;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}

/* Connexion-Inscription */

.login-form a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.1em;
  transition: all 0.6s ease;
}
.login-form a:hover {
  color: #1161ee;
  font-weight: bold;
  font-style: oblique;
}
.login-wrap {
  margin-top: 25px;
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  max-width: 525px;
  min-height: 670px;
  max-height: 1100px;
  position: relative;
  background: url("../img/kaneki.jpeg") no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px 20px 20px 20px;
  background: rgba(40, 57, 101, 0.7);
  border-radius: 20px;
}
.login-form .group .check {
  display: none;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
}
.login-form .groupe {
	margin-top: 10px;
  margin-bottom: 25px;
	width: 100%;
}
.login-form .groupe .group {
	display: inline-block;
	width: 49%;
}
.login-form .groupe .group:first-child {
	margin-right: 1%;
}
.login-form .lab,
.login-html h1 {
  text-align: center;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
  font-size: 16px;
}
.login-form .group .label,
.login-form .group .button,
.login-form .lab * {
  cursor: pointer;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group .label {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 10px;
}
.login-form .group .button {
  background: #1161ee;
  border: 2px #1161ee solid;
  transition: all 0.8s ease;
}
.login-form .group .button:hover {
  background: #fff;
  font-weight: bold;
  border: 2px #1161ee solid;
  color: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.hr {
  height: 2px;
  margin: 40px 0 20px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

#sm {
	width: 80%;
	height: 35px;
	text-align: center;
	margin-left: 11%;
  font-size: 1.1em;
  border-radius: 5px;
	cursor: pointer;
}
.login-form p.error {
	color: red;
  font-weight: bolder;
  font-size: 1.2em;
	text-decoration: underline;
	text-align: center;
}
.login-form p.ok {
	color: greenyellow;
  font-weight: bolder;
  font-size: 1.2em;
	text-decoration: underline;
	text-align: center;
}
/* Connexion-Inscription fin */

/* La page d'index */
nav.navbar {
  background-color: #283965;
}
nav form .param {
  color: #1161ee;
  font-weight: bold;
  font-size: 1.1em;
}

/* Messagerie */
#messages-main {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#messages-main:after, #messages-main:before {
  content: " ";
  display: table;
}
#messages-main .ms-menu {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #eee;
  padding-bottom: 50px;
  height: 100%;
  width: 240px;
  background: #fff;
}
@media (min-width:768px) {
  #messages-main .ms-body {
  padding-left: 240px;
}
}@media (max-width:767px) {
  #messages-main .ms-menu {
  height: calc(100% - 58px);
  display: none;
  z-index: 1;
  top: 58px;
}
#messages-main .ms-menu.toggled {
  display: block;
}
#messages-main .ms-body {
  overflow: hidden;
}
}
#messages-main .ms-user {
  padding: 15px;
  background: #f8f8f8;
}
#messages-main .ms-user>div {
  overflow: hidden;
  padding: 3px 5px 0 15px;
  font-size: 11px;
}
#messages-main #ms-compose {
  position: fixed;
  bottom: 120px;
  z-index: 1;
  right: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
#ms-menu-trigger {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding-right: 10px;
  padding-top: 19px;
}
#ms-menu-trigger i {
  font-size: 21px;
}
#ms-menu-trigger.toggled i:before {
  content: '\f2ea'
}
.fc-toolbar:before, .login-content:after {
  content: ""
}
.message-feed {
  padding: 20px;
}
.message-feed .mf-content img, .message-feed .mf-content video {
  min-width: 200px;
  max-width: 100%;
}
#footer, .fc-toolbar .ui-button, .fileinput .thumbnail, .four-zero, .four-zero footer>a, .ie-warning, .login-content, .login-navigation, .pt-inner, .pt-inner .pti-footer>a {
  text-align: center;
}
.message-feed.right>.pull-right {
  margin-left: 15px;
}
.message-feed:not(.right) .mf-content {
  background: #283965;
  margin-left: 5px;
  color: #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.message-feed.right .mf-content {
  background: #ccc;
}
.mf-content {
  padding: 12px 17px 13px;
  border-radius: 2px;
  display: inline-block;
  max-width: 80%
}
.mf-date {
  display: block;
  color: #B3B3B3;
  margin-top: 7px;
}
.mf-date>i {
  font-size: 14px;
  line-height: 100%;
  position: relative;
  top: 1px;
}
.msb-reply {
  box-shadow: 0 -20px 20px -5px #fff;
  position: relative;
  margin-top: 30px;
  border-top: 1px solid #eee;
  background: #f8f8f8;
}
.four-zero, .lc-block {
  box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}
.msb-reply textarea {
  width: 100%;
  font-size: 13px;
  border: 0;
  padding: 10px 15px;
  resize: none;
  height: 60px;
  background: 0 0;
}
.msb-reply textarea:focus {
  border: 0;
}
.msb-reply button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  color: #283965;
  background: 0 0;
}
.msb-reply button[type="button"] {
  top: 0;
  right: 61px;
}
.msb-reply button[type="button"] input {
  z-index: -99;
}
.msb-reply button[type="submit"] {
  top: 0;
  right: 0;
  font-size: 25px;
}
.msb-reply button:hover {
  background: #ccc;
}
.img-avatar {
  height: 37px;
  width: 37px;
  border-radius: 50%;
}
.list-group.lg-alt .list-group-item {
  border: 0;
  border-bottom: 1px #283965 solid;
}
.list-group.lg-alt a {
  text-decoration: none;
}
.list-group.lg-alt .list-group-item div {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.p-15 {
  padding: 15px!important;
}
.btn:not(.btn-alt) {
  border: 0;
}
.action-header {
  position: relative;
  background: #f8f8f8;
  padding: 15px 13px 15px 17px;
}
.ah-actions {
  z-index: 3;
  float: right;
  margin-top: 7px;
  position: relative;
}
.ms-body{
  background:#fff;    
}
#ms-menu-trigger {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding-right: 10px;
  padding-top: 19px;
  cursor:pointer;
}
#ms-menu-trigger, .message-feed.right {
  text-align: right;
}
#ms-menu-trigger, .toggle-switch {
  user-select: none;
}

